.headline {
  margin: 0 0 40px;

  h1 {
    margin: 0 0 40px;
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    line-height: 1;
    span {
      color: var(--color-primary);
    }
  }

  p {
    color: var(--color-white-30);
  }
}

.search {
  display: flex;
  gap: 10px;
  margin: 0 0 30px;

  input {
    flex-grow: 1;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    color: var(--color-white);
    background: var(--color-area);
    border: 0;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: var(--color-white-30);
    }
  }

  .btn {
    flex-grow: 1;
    max-width: 150px;
  }
}
