header {
  z-index: 9;
  position: sticky;
  top: 0;
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding: 20px 40px;
  background: rgba(14,17,27,.9);

  .logo {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: var(--color-white-50);
    text-decoration: none;

    span {
      color: var(--color-primary);
    }
  }
  nav ul {
    display: flex;
    gap: 14px;

    li a{
      font-size: 14px;
      font-weight: 700;
      color: var(--color-white-50);
      text-decoration: none;

      &.active {
        color: var(--color-primary);
      }
    }
  }

  .user {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-area);
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: scale(1.2);
    }

    img {
      width: 100%;
    }
  }
}