.headline {
  margin: 0 0 40px;
}

.headline h1{
  margin: 0 0 40px;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  line-height: 1;
}

.headline h1 span {
  color: var(--color-primary);
}

.headline p {
  color: var(--color-white-30);
}