body {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  line-height: 1.4;
  background: var(--color-black);
}

.container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1120px;
}

html {
  --color-black: #0e111b;
  --color-white: #fff;
  --color-white-50: rgba(255,255,255,0.5);
  --color-white-30: rgba(255,255,255,.3);
  --color-white-20: rgba(255,255,255,.2);
  --color-white-10: rgba(255,255,255,.1);
  --color-white-5: rgba(255,255,255,.05);
  --color-primary: #fdc000;
  --color-hover: #f86a05;
  --color-area: #1c212e;
}

.btn {
  padding: 0 20px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background: var(--color-area);
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: var(--color-hover);
}
.btn-primary {
  color: var(--color-black);
  background: var(--color-primary);
}
.btn-primary:hover {
  background: var(--color-hover);
  color: var(--color-white);
}

.the-loader {
  margin: 30px auto;
  width: 30px;
  height: 30px;
  border: 4px solid var(--color-primary);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}
.the-loader.hide {
  display: none;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.view-more {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
}
.view-more.hide {
  display: none;
}

.headline {
  margin: 0 0 40px;
}
.headline h1 {
  margin: 0 0 40px;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  line-height: 1;
}
.headline h1 span {
  color: var(--color-primary);
}
.headline p {
  color: var(--color-white-30);
}

.search {
  display: flex;
  gap: 10px;
  margin: 0 0 30px;
}
.search input {
  flex-grow: 1;
  padding: 0 20px;
  height: 50px;
  font-size: 14px;
  color: var(--color-white);
  background: var(--color-area);
  border: 0;
  border-radius: 4px;
  outline: none;
}
.search input::placeholder {
  color: var(--color-white-30);
}
.search .btn {
  flex-grow: 1;
  max-width: 150px;
}

.movie-list {
  padding: 20px;
  background: var(--color-area);
  border-radius: 4px;
}
.movie-list .message {
  font-size: 20px;
  color: var(--color-primary);
  text-align: center;
}
.movie-list .movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-list .movies .movie {
  --width: 200px;
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  background: var(--color-black);
  background-size: cover;
  border-radius: 4px;
}
.movie-list .movies .movie:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 6px solid var(--color-primary);
}
.movie-list .movies .movie .info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 14px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  background: rgba(14, 17, 27, 0.3);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}
.movie-list .movies .movie .info .year {
  color: var(--color-primary);
}
.movie-list .movies .movie .info .title {
  color: var(--color-white);
}

.the-movie {
  display: flex;
  gap: 70px;
  color: var(--color-white-50);
}
.the-movie .poster {
  flex-shrink: 0;
  --width: 500px;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  background: var(--color-area);
  background-size: cover;
  border-radius: 10px;
}
.the-movie .specs {
  flex-grow: 1;
}
.the-movie .title {
  margin: 0 0 30px;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  line-height: 1;
  color: var(--color-white);
}
.the-movie .labels {
  margin: 0 0 20px;
  color: var(--color-primary);
}
.the-movie h3 {
  margin: 24px 0 6px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white);
}
